/AnagramGame/nbproject/private/
/TheSortingHatSolution/nbproject/private/
/TheSortingHatSolution/build/
/Hw3/AudioManager/build/
/Hw3/AudioManager/dist/
/Hw3/MiniGameFramework/build/
/Hw3/MiniGameFramework/dist/
/Hw3/PropertiesManager/dist/
/Hw3/PropertiesManager/build/
/Hw3/TheSortingHat/build/
/Hw3/TheSortingHatLevelEditor/build/
/Hw3/XMLUtilities/build/
/Hw3/XMLUtilities/dist/
/Hw3/AudioManager/nbproject/private/
/Hw3/MiniGameFramework/nbproject/private/
/Hw3/PropertiesManager/nbproject/private/
/Hw3/TheSortingHat/nbproject/private/
/Hw3/TheSortingHatLevelEditor/nbproject/private/
/Hw3/XMLUtilities/nbproject/private/
/pathX/nbproject/private/
/pathX/build/
/pathX/img/pathx/219 HW3/New folder/TheSortingHat/build/
/pathX/img/pathx/219 HW3/New folder/TheSortingHat/nbproject/private/
/pathX/img/pathx/219 HW3/New folder/TheSortingHatLevelEditor/build/
/pathX/img/pathx/219 HW3/New folder/TheSortingHatLevelEditor/nbproject/private/
/pathX/dist/
/ZengJessicaHW1/PropertiesManager/build/
/ZengJessicaHW1/PropertiesManager/dist/
/ZengJessicaHW1/XMLUtilities/dist/
/ZengJessicaHW1/XMLUtilities/build/
/ZengJessicaHW1/SixDegreesOfKevinBacon/build/
/ZengJessicaHW1/SixDegreesOfKevinBacon/dist/
/ZengJessicaHW1/XMLUtilities/nbproject/private/
/ZengJessicaHW1/SixDegreesOfKevinBacon/nbproject/private/
/ZengJessicaHW1/PropertiesManager/nbproject/private/